<p id="notice"><%= notice %></p>

<h1>Properties</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Imagen</th>
      <th>Rol</th>
      <th>Direccion</th>
      <th>Valor</th>
      <th>Porcentaje de venta</th>
      <th>Descripcion</th>
      <th>Locacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.user %></td>
        <td><%= image_tag(property.imagen) %></td>
        <td><%= property.rol %></td>
        <td><%= property.direccion %></td>
        <td><%= property.valor %></td>
        <td><%= property.porcentaje_de_venta %></td>
        <td><%= property.descripcion %></td>
        <td><%= property.locacion %></td>
        <td><%= link_to 'Show', property %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_property_path %>
